toneprovide.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://toneprovide.ivas.huawei.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://toneprovide.ivas.huawei.com" xmlns:intf="http://toneprovide.ivas.huawei.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://event.toneprovide.ivas.huawei.com" xmlns:tns3="http://ivas.huawei.com" xmlns:tns4="http://response.toneprovide.ivas.huawei.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://ivas.huawei.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="BaseEvt">
    <sequence>
     <element name="portalAccount" nillable="true" type="xsd:string"/>
     <element name="portalPwd" nillable="true" type="xsd:string"/>
     <element name="portalType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="BaseUpdateEvt">
    <complexContent>
     <extension base="tns3:BaseEvt">
      <sequence>
       <element name="moduleCode" nillable="true" type="xsd:string"/>
       <element name="role" nillable="true" type="xsd:string"/>
       <element name="roleCode" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Response">
    <sequence>
     <element name="eventClassName" nillable="true" type="xsd:string"/>
     <element name="operationID" type="xsd:long"/>
     <element name="resultCode" type="xsd:int"/>
     <element name="resultInfo" nillable="true" type="xsd:string"/>
     <element name="returnCode" nillable="true" type="xsd:string"/>
     <element name="transactionID" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://toneprovide.ivas.huawei.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://event.toneprovide.ivas.huawei.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="UploadToneEvt">
    <complexContent>
     <extension base="tns3:BaseUpdateEvt">
      <sequence>
       <element name="aggregatorShare" nillable="true" type="xsd:string"/>
       <element name="allowedChannel" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="auditionFileNames" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="beginTime" nillable="true" type="xsd:string"/>
       <element name="bgToneCode" nillable="true" type="xsd:string"/>
       <element name="bgToneID" nillable="true" type="xsd:string"/>
       <element name="catalog" nillable="true" type="xsd:string"/>
       <element name="contentMicroChargeFlag" nillable="true" type="xsd:string"/>
       <element name="corpID" nillable="true" type="xsd:string"/>
       <element name="cpRevSharePercentage" nillable="true" type="xsd:string"/>
       <element name="cpType" nillable="true" type="xsd:string"/>
       <element name="cutFlag" nillable="true" type="xsd:string"/>
       <element name="enabledDate" nillable="true" type="xsd:string"/>
       <element name="endTime" nillable="true" type="xsd:string"/>
       <element name="extendAbsoluteDateFlag" nillable="true" type="xsd:string"/>
       <element name="fileSyncInterval" nillable="true" type="xsd:string"/>
       <element name="fileSyncPath" nillable="true" type="xsd:string"/>
       <element name="ftpPassword" nillable="true" type="xsd:string"/>
       <element name="ftpUserName" nillable="true" type="xsd:string"/>
       <element name="grid" nillable="true" type="xsd:string"/>
       <element name="isrc" nillable="true" type="xsd:string"/>
       <element name="keyword" nillable="true" type="xsd:string"/>
       <element name="language" nillable="true" type="xsd:string"/>
       <element name="lyricCompanyID" nillable="true" type="xsd:string"/>
       <element name="lyricValidDay" nillable="true" type="xsd:string"/>
       <element name="maxDownloadLimit" nillable="true" type="xsd:string"/>
       <element name="monthFee" nillable="true" type="xsd:string"/>
       <element name="musicID" nillable="true" type="xsd:string"/>
       <element name="needApproved" nillable="true" type="xsd:string"/>
       <element name="partnerID" nillable="true" type="xsd:string"/>
       <element name="price" nillable="true" type="xsd:string"/>
       <element name="priceGroupID" nillable="true" type="xsd:string"/>
       <element name="productType" nillable="true" type="xsd:string"/>
       <element name="recordCompanyID" nillable="true" type="xsd:string"/>
       <element name="recordValidDay" nillable="true" type="xsd:string"/>
       <element name="relativeTime" nillable="true" type="xsd:string"/>
       <element name="renewFlag" nillable="true" type="xsd:string"/>
       <element name="reorderMode" nillable="true" type="xsd:string"/>
       <element name="resourceServiceType" nillable="true" type="xsd:string"/>
       <element name="serviceID" nillable="true" type="xsd:string"/>
       <element name="singerID" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="singerName" nillable="true" type="xsd:string"/>
       <element name="singerNameLetter" nillable="true" type="xsd:string"/>
       <element name="singerSex" nillable="true" type="xsd:string"/>
       <element name="smAccessCode" nillable="true" type="xsd:string"/>
       <element name="streamingURL" nillable="true" type="xsd:string"/>
       <element name="toneCode" nillable="true" type="xsd:string"/>
       <element name="toneInfo" nillable="true" type="xsd:string"/>
       <element name="toneName" nillable="true" type="xsd:string"/>
       <element name="toneNameLetter" nillable="true" type="xsd:string"/>
       <element name="toneValidDay" nillable="true" type="xsd:string"/>
       <element name="totalPrice" nillable="true" type="xsd:string"/>
       <element name="transactionID" nillable="true" type="xsd:string"/>
       <element name="tuneCompanyID" nillable="true" type="xsd:string"/>
       <element name="tuneValidDay" nillable="true" type="xsd:string"/>
       <element name="unlimitFlag" nillable="true" type="xsd:string"/>
       <element name="uploadID" nillable="true" type="xsd:string"/>
       <element name="uploadType" nillable="true" type="xsd:string"/>
       <element name="userConsent" nillable="true" type="xsd:string"/>
       <element name="userToneCode" nillable="true" type="xsd:string"/>
       <element name="wapImagePath" nillable="true" type="xsd:string"/>
       <element name="webImagePath" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://response.toneprovide.ivas.huawei.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ToneResp">
    <complexContent>
     <extension base="tns3:Response">
      <sequence>
       <element name="toneCode" nillable="true" type="xsd:string"/>
       <element name="toneID" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UploadToneResp">
    <complexContent>
     <extension base="tns4:ToneResp">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <message name="uploadToneRequest">

      <part name="event" type="tns2:UploadToneEvt"/>

   </message>

   <message name="uploadToneResponse">

      <part name="uploadToneReturn" type="tns4:UploadToneResp"/>

   </message>

   <portType name="ToneProvide">

      <operation name="uploadTone" parameterOrder="event">

         <input message="impl:uploadToneRequest" name="uploadToneRequest"/>

         <output message="impl:uploadToneResponse" name="uploadToneResponse"/>

      </operation>

   </portType>

   <binding name="ToneProvideSoapBinding" type="impl:ToneProvide">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <operation name="uploadTone">

         <wsdlsoap:operation soapAction=""/>

         <input name="uploadToneRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://toneprovide.ivas.huawei.com" use="encoded"/>

         </input>

         <output name="uploadToneResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://toneprovide.ivas.huawei.com" use="encoded"/>

         </output>

      </operation>

   </binding>

   <service name="ToneProvideService">

      <port binding="impl:ToneProvideSoapBinding" name="ToneProvide">

         <wsdlsoap:address location="http://10.18.8.226:8080/jboss-net/services/ToneProvide"/>

      </port>

   </service>

</definitions>
